In [7]:
import random 
import numpy as np

In [2]:
s = {}

In [3]:
print(s, type(s) )

{} <class 'dict'>

In [4]:
s = {1, 2, 3}

In [5]:
print(s, type(s))

{1, 2, 3} <class 'set'>

In [17]:
s = {"Jack", "Apple", 'Orange'} 
print(s)

{'Jack', 'Apple', 'Orange'}

In [10]:
s = {int(item) for item in np.random.randint(1, 100, 50)}

In [12]:
len(s)

39

In [13]:
s = {1, 2, 3, 5, 1, 2, 1, 2, 1, 3 }

In [14]:
s

{1, 2, 3, 5}

In [15]:
s = {5, 4, 3, 2, 1}

In [16]:
print(s)

{1, 2, 3, 4, 5}

In [18]:
li = [int(item) for item in np.random.randint(1, 50, 40)]

In [20]:
print(li)

[28, 10, 10, 48, 20, 36, 7, 40, 5, 34, 27, 3, 8, 3, 12, 43, 23, 38, 34, 26, 14, 1, 11, 47, 35, 30, 5, 32, 20, 28, 30, 34, 48, 5, 23, 19, 26, 12, 4, 40]

In [22]:
print(sorted(li) )

[1, 3, 3, 4, 5, 5, 5, 7, 8, 10, 10, 11, 12, 12, 14, 19, 20, 20, 23, 23, 26, 26, 27, 28, 28, 30, 30, 32, 34, 34, 34, 35, 36, 38, 40, 40, 43, 47, 48, 48]

In [23]:
new = set(li)

In [25]:
len(new)

26

In [26]:
new_list = list(new)

In [28]:
print(new_list)

[1, 3, 4, 5, 7, 8, 10, 11, 12, 14, 19, 20, 23, 26, 27, 28, 30, 32, 34, 35, 36, 38, 40, 43, 47, 48]

In [29]:
li = sorted(set([int(item) for item in np.random.randint(1, 40, 30)]))

In [30]:
print(li)

[2, 3, 4, 5, 6, 10, 14, 22, 23, 24, 25, 26, 27, 28, 29, 32, 33, 34, 35, 38, 39]

In [31]:
s = {1, 2, 3, 7, 5, 8, 4, 8, 4} 
sorted(s)

[1, 2, 3, 4, 5, 7, 8]

In [32]:
s = {"Jack Sparrow", 'Iron Man', 'Captain America'}

In [33]:
s

{'Captain America', 'Iron Man', 'Jack Sparrow'}

In [34]:
s.add("Black Widow")

In [35]:
s

{'Black Widow', 'Captain America', 'Iron Man', 'Jack Sparrow'}

In [36]:
s.add("Black Panther")

In [37]:
s

{'Black Panther', 'Black Widow', 'Captain America', 'Iron Man', 'Jack Sparrow'}

In [38]:
s.add("Hawkeye")

In [39]:
s

{'Black Panther',
 'Black Widow',
 'Captain America',
 'Hawkeye',
 'Iron Man',
 'Jack Sparrow'}

In [40]:
s.add("Thor")

In [41]:
s

{'Black Panther',
 'Black Widow',
 'Captain America',
 'Hawkeye',
 'Iron Man',
 'Jack Sparrow',
 'Thor'}

In [42]:
s.add("Hulk")

In [43]:
s

{'Black Panther',
 'Black Widow',
 'Captain America',
 'Hawkeye',
 'Hulk',
 'Iron Man',
 'Jack Sparrow',
 'Thor'}

In [44]:
s.remove("Hulk")

In [45]:
s

{'Black Panther',
 'Black Widow',
 'Captain America',
 'Hawkeye',
 'Iron Man',
 'Jack Sparrow',
 'Thor'}

In [46]:
s.pop()

'Jack Sparrow'

In [47]:
s.pop()

'Hawkeye'

In [48]:
s.pop()

'Thor'

In [49]:
s

{'Black Panther', 'Black Widow', 'Captain America', 'Iron Man'}

In [50]:
s.remove("Spider Man")

KeyError: 'Spider Man'

In [51]:
s.discard("Spider Man")

In [52]:
s

{'Black Panther', 'Black Widow', 'Captain America', 'Iron Man'}

In [53]:
s.discard("Black Widow")

In [54]:
s

{'Black Panther', 'Captain America', 'Iron Man'}

In [56]:
s = {True, False, None ,'abc', 1, 4.5} 
new = {5 + 3j, 'aljdf'} 

s.update(new)

In [57]:
s

{(5+3j), 4.5, False, None, True, 'abc', 'aljdf'}

In [58]:
new

{(5+3j), 'aljdf'}

In [62]:
a = {1, 2, 3, 4} 
b = {1, 2, 5, 6} 
c = {2, 3} 
d = {7, 8}

In [63]:
print(a.issubset(b)) 
print(a.issubset(c))
print(a.issubset(d))

False
False
False

In [64]:
print(c.issubset(a))

True

In [65]:
print(a.issuperset(c))

True

In [66]:
print(a.isdisjoint(d))

True

In [67]:
print(a.isdisjoint(b))

False

In [ ]:
s =