In [1]:
# Taking input from the user

In [8]:
# Area of Square = Side * side (Side ** 2) 

side = input()
print(side, type(side))

True <class 'str'>

In [9]:
print(side * side)

TypeError: can't multiply sequence by non-int of type 'str'

In [10]:
side = input() 
side = int(side) 

print(side * side)

400

In [19]:
side = int(input()) 
print(side, type(side)) 

area = side ** 2 

print(area, type(area))

15 <class 'int'>
225 <class 'int'>

In [18]:
principal = int(input("Enter the Principal Ammount : ")) 
rate = float(input("Enter the Rate of Interest : "))
time = int(input("Enter the time period (in months) : ")) 

simple_interest = (principal * rate * time) / (100 * 12) 

print(simple_interest)

22000.0

In [24]:
a = 10 

print(a) 
print('a')
print("a")

area = a * a 

print(area) 
print("area")

10
a
a
100
area

In [28]:
# Taking input from the user 
side = int(input("Enter the side of Square : "))

# Formula Calculation 
area = side ** 2 

# Printing format 

# 1. Normal Method  
print("The Area of Square for side", side, "is", area) 

# 2. fstring method 
print(f"The Area of Square for side {side} is {area}")

# 3. format method 
print("The Area of Sqaure for side {} is {}".format(side, area))

The Area of Square for side 15 is 225
The Area of Square for side 15 is 225
The Area of Sqaure for side 15 is 225

In [33]:
# Taking input from the user 
principal = int(input("Enter the Principal Ammount : ")) 
rate = float(input("Enter the Rate of Interest : "))
time = int(input("Enter the time period (in months) : ")) 

# formula calculation 
simple_interest = (principal * rate * time) // (100 * 12) 

# printing format 
print(f"The  Simple interest for Principal {principal} for {rate}% rate of interest for {time} months is {simple_interest}")

# Fromat Method
# printing format 
print("The  Simple interest for Principal {} for {}% rate of interest for {} months is {}".format(principal,rate,time,simple_interest))

The  Simple interest for Principal 500000 for 5.0% rate of interest for 60 months is 125000.0
The  Simple interest for Principal 500000 for 5.0% rate of interest for 60 months is 125000.0

In [42]:
# Logical Operator 

a = True 
b = False 

print("And Gate") 

print(f"{a} and {a} : {a and a }")
print(f"{a} and {b} : {a and b }")
print(f"{b} and {a} : {b and a }")
print(f"{b} and {b} : {b and b }")

print("\nOr Gate") 

print(f"{a} or {a} : {a or a }")
print(f"{a} or {b} : {a or b }")
print(f"{b} or {a} : {b or a }")
print(f"{b} or {b} : {b or b }")

print("\nNot")
print(f"not {a} : {not a}")
print(f"not {b} : {not b}")

And Gate
True and True : True
True and False : False
False and True : False
False and False : False

Or Gate
True or True : True
True or False : True
False or True : True
False or False : False

Not
not True : False
not False : True

In [6]:
# Assignment Operator 

a = 100 

print(f"a = {a}") 
a += 30 
print(f"a = {a}") 
a -= 10 
print(f"a = {a}") 
a *= 2 
print(f"a = {a}") 
a /= 2 
print(f"a = {a}") 
a //= 2 
print(f"a = {a}")

a = 100
a = 130
a = 120
a = 240
a = 120.0
a = 60.0

In [7]:
a = 100 

b = a + 10 
c = a - 10 
d = a * 2 
e = a / 2 
f = a // 2 


print(a, b, c, d, e, f)

100 110 90 200 50.0 50

In [14]:
a = 20 
b = 20 

print(a is b, a == b, a is not b)

True True False

In [20]:
a = 256
b = 100 
c = 256 

print(a is b, b is c, a is c) 
print(id(a)) 
print(id(b)) 
print(id(c))

False False True
140719328201112
140719328196120
140719328201112

In [27]:
a = [1, 2, 3] 
b = a.copy() 

print(a, b) 
print(id(a) , id(b)) 
print(a is b) 

print(a == b)

[1, 2, 3] [1, 2, 3]
2615815022784 2615814890304
False
True

In [26]:
a = [1, 2, 3] 
b = a

print(a, b) 
print(id(a) , id(b)) 
print(a is b)

[1, 2, 3] [1, 2, 3]
2615814888448 2615814888448
True

In [31]:
# Membership 

li = [1, 2, 3, 4, 5] 

print(1 in li) 
print(10 in li) 
print(5 not in li) 
print(100 not in li)

True
False
False
True

In [32]:
import numpy as np 
import random

In [45]:
li = [chr(int(item)) for item in np.random.randint(65, 91, 30)]

In [51]:
print(li)

['Z', 'W', 'V', 'W', 'P', 'Y', 'G', 'O', 'P', 'W', 'E', 'R', 'R', 'J', 'F', 'N', 'F', 'M', 'X', 'T', 'Y', 'E', 'R', 'R', 'Q', 'O', 'X', 'I', 'N', 'Z']

In [52]:
li

['Z',
 'W',
 'V',
 'W',
 'P',
 'Y',
 'G',
 'O',
 'P',
 'W',
 'E',
 'R',
 'R',
 'J',
 'F',
 'N',
 'F',
 'M',
 'X',
 'T',
 'Y',
 'E',
 'R',
 'R',
 'Q',
 'O',
 'X',
 'I',
 'N',
 'Z']

In [50]:
count_r = 0 

for item in li:
    if item.lower() == 'r':
        count_r += 1
print(count_r)

4

In [68]:
s = 'jack sparrow123' 

print('c' in s, '10' in s, 'c' in s and '10' in s)

True False False

In [69]:
print(5 & 6) 
print(5 | 6) 
print(~6)

4
7
-7

In [70]:
for i in range(0, 11):
    print(f"{i} : {bin(i)[2:]}")

0 : 0
1 : 1
2 : 10
3 : 11
4 : 100
5 : 101
6 : 110
7 : 111
8 : 1000
9 : 1001
10 : 1010

In [71]:
~-5

4

In [75]:
a = 10 
b = -20 

print(+a) 
print(-a) 

print(+b) 
print(-b) # -(-20)  = 20

10
-10
-20
20