In [1]:
'''
Components of Loops 

1. Initialization 
2. Condition 
3. Updation 
'''

'\nComponents of Loops \n\n1. Initialization \n2. Condition \n3. Updation \n'

In [1]:
i = 1 # Initialization 

while i < 11: # Condition / Expression 
    print(i) 
    i += 1 # updation

1
2
3
4
5
6
7
8
9
10

In [40]:
for i in range(1, 11, 1):
    print(i, end= " ")

1 2 3 4 5 6 7 8 9 10

In [43]:
for i in range(1, 101, 2):
    print(i, end = " ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [44]:
for i in range(2, 101, 2):
    print(i, end = " ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [41]:
i = 1 # Initialization 

while i < 11: # Condition / Expression 
    print(i, end = " ") 
    i += 1 # updation

1 2 3 4 5 6 7 8 9 10

In [ ]:
# print numbers from 10 to 1 

i = 10 # Initialization 

while i >= 1: # Condition / Expression 
    # task 
    print(i) 
    i -= 1 # Updation

10
9
8
7
6
5
4
3
2
1

In [12]:
li = [] 

i = 1 

while i <= 30:
    if i % 5 == 3:
        li.append(i) 
    i += 1 

print(li)

[3, 8, 13, 18, 23, 28]

In [14]:
i = 10 

while i > 0:
    print(i) 
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [26]:
i = int(input()) 

while i <= 23 and i > 0:
    print(i, end = " ")
    i += 1

10 11 12 13 14 15 16 17 18 19 20 21 22 23

In [45]:
i = 5
while i < 101:
    print(i, end = " ") 
    i += 5

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

In [47]:
for i in range(1, 101, 1):
    print(i, end= " ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [35]:
i = 10 

print(i < 5) 
print(i > 4)

False
True

In [49]:
for i in range(10, 0, -1):
    print(i, end= " ")

10 9 8 7 6 5 4 3 2 1

In [53]:
i = 1 

while i < 101:
    if i % 2 == 0:
        print(i, end = " ") 
    i += 1

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [50]:
for i in range(1, 101, 1):
    if i % 2 == 0:
        print(i, end = " ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [51]:
for i in range(2, 101, 2):
    print(i, end = " ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [55]:
for i in range(100, 0, -5):
    print(i, end= " ")

100 95 90 85 80 75 70 65 60 55 50 45 40 35 30 25 20 15 10 5

In [56]:
for i in range(5, 101, 5):
    print(i, end = " ")

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

In [60]:
print("Even : Multiply By 4\nOdd : Multiply by 3")

for i in range(1, 51, 1):
    if i % 2 == 0:
        print(f"i = {i}, ans : {i} * 4 = {i * 4}") 
    else:
        print(f"i = {i}, ans : {i} * 3 = {i * 3}")

Even : Multiply By 4
Odd : Multiply by 3
i = 1, ans : 1 * 3 = 3
i = 2, ans : 2 * 4 = 8
i = 3, ans : 3 * 3 = 9
i = 4, ans : 4 * 4 = 16
i = 5, ans : 5 * 3 = 15
i = 6, ans : 6 * 4 = 24
i = 7, ans : 7 * 3 = 21
i = 8, ans : 8 * 4 = 32
i = 9, ans : 9 * 3 = 27
i = 10, ans : 10 * 4 = 40
i = 11, ans : 11 * 3 = 33
i = 12, ans : 12 * 4 = 48
i = 13, ans : 13 * 3 = 39
i = 14, ans : 14 * 4 = 56
i = 15, ans : 15 * 3 = 45
i = 16, ans : 16 * 4 = 64
i = 17, ans : 17 * 3 = 51
i = 18, ans : 18 * 4 = 72
i = 19, ans : 19 * 3 = 57
i = 20, ans : 20 * 4 = 80
i = 21, ans : 21 * 3 = 63
i = 22, ans : 22 * 4 = 88
i = 23, ans : 23 * 3 = 69
i = 24, ans : 24 * 4 = 96
i = 25, ans : 25 * 3 = 75
i = 26, ans : 26 * 4 = 104
i = 27, ans : 27 * 3 = 81
i = 28, ans : 28 * 4 = 112
i = 29, ans : 29 * 3 = 87
i = 30, ans : 30 * 4 = 120
i = 31, ans : 31 * 3 = 93
i = 32, ans : 32 * 4 = 128
i = 33, ans : 33 * 3 = 99
i = 34, ans : 34 * 4 = 136
i = 35, ans : 35 * 3 = 105
i = 36, ans : 36 * 4 = 144
i = 37, ans : 37 * 3 = 111
i = 38, ans : 38 * 4 = 152
i = 39, ans : 39 * 3 = 117
i = 40, ans : 40 * 4 = 160
i = 41, ans : 41 * 3 = 123
i = 42, ans : 42 * 4 = 168
i = 43, ans : 43 * 3 = 129
i = 44, ans : 44 * 4 = 176
i = 45, ans : 45 * 3 = 135
i = 46, ans : 46 * 4 = 184
i = 47, ans : 47 * 3 = 141
i = 48, ans : 48 * 4 = 192
i = 49, ans : 49 * 3 = 147
i = 50, ans : 50 * 4 = 200

In [61]:

for i in range(1, 11, 1):
    print(f"Dividend = {i}, Divisor = {2}, Quotient = {i // 2}, Remainder = {i % 2}")

Dividend = 1, Divisor = 2, Quotient = 0, Remainder = 1
Dividend = 2, Divisor = 2, Quotient = 1, Remainder = 0
Dividend = 3, Divisor = 2, Quotient = 1, Remainder = 1
Dividend = 4, Divisor = 2, Quotient = 2, Remainder = 0
Dividend = 5, Divisor = 2, Quotient = 2, Remainder = 1
Dividend = 6, Divisor = 2, Quotient = 3, Remainder = 0
Dividend = 7, Divisor = 2, Quotient = 3, Remainder = 1
Dividend = 8, Divisor = 2, Quotient = 4, Remainder = 0
Dividend = 9, Divisor = 2, Quotient = 4, Remainder = 1
Dividend = 10, Divisor = 2, Quotient = 5, Remainder = 0

In [62]:
for i in range(11):
    print(i, end = " ")

0 1 2 3 4 5 6 7 8 9 10

In [64]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
# i = 1 

# while i <= 30:
#     if i % 2 == 0:
#         print(i, end = " ") 
#     else:
#         continue 
#     i += 1

In [14]:
# Jump Statements 

# Printing numbers from 1 to 10 

i = 1

while i <= 10:
    if i > 5:
        break 
    else:
        print(i) 
    i += 1

1
2
3
4
5

In [15]:
for i in range(1, 11, 1):
    if i > 5:
        break 
    print(i)

1
2
3
4
5

In [17]:
for i in range(1, 101, 1):
    if i % 2 == 0:
        print(i, end = " ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [18]:
for i in range(1, 101, 1):
    if i % 2 != 0:
        continue 
    print(i, end = " ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [25]:
for i in range(1, 31, 1):
    if i % 2 == 0:
        continue 
    print(i, end = " ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29

In [29]:
i = 1 

while i <= 30:
    if i % 2 == 0:
        i += 1 
        continue 
    else:
        print(i, end = " ") 
    i += 1

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29

In [33]:
i = 1 

while i <= 30:
    if i > 12:
        break 
    elif i % 2 == 0:
        print(i, end = " ") 
        i += 1 
    else:
        i += 1 
        continue

2 4 6 8 10 12

In [34]:
for i in range(1, 31, 1):
    if i > 12:
        break 
    elif i % 2 == 0:
        print(i, end = " ") 
    else:
        continue

2 4 6 8 10 12

In [35]:
for i in range(1, 31, 1):
    if i <= 15:
        print(i, end = " ") 
    else:
        break

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15

In [36]:
# 1. Print Numbers from 1 to N 
# 2. Sum of N Natural Numbers 
# 3. Even Numbers 
# 4. Reverse Pattern Printing (N to 1) 
# 5. Multiplication Table

In [37]:
n = int(input()) 
for i in range(1, n + 1, 1):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10

In [42]:
n = int(input("Enter the Number you want the table for : "))

for i in range(1, 11, 1):
    print(f"{n} X {i} = {n * i}")

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [44]:
n = int(input("Enter the Number you want the table for : "))

for i in range(1, 11, 1):
    print(f"{n} X {i} = {n * i}")

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [8]:
n = int(input()) 

ans = 0 

for i in range(1, n+1, 1):
    ans += i 

print(ans )

15

In [7]:
n = int(input()) 
# print(f"n = {n}")
ans = 0 
for i in range(1, n+1, 1):
    print(f"Iteration = {i}:\nBefore Addition : ans = {ans}", end = " ")
    ans = ans + i 
    print(f"After Addition : ans = {ans}")
    
print(f"Sum of first {n} natural Numbers is {ans}")

Iteration = 1:
Before Addition : ans = 0 After Addition : ans = 1
Iteration = 2:
Before Addition : ans = 1 After Addition : ans = 3
Iteration = 3:
Before Addition : ans = 3 After Addition : ans = 6
Iteration = 4:
Before Addition : ans = 6 After Addition : ans = 10
Iteration = 5:
Before Addition : ans = 10 After Addition : ans = 15
Sum of first 5 natural Numbers is 15

In [16]:
n = int(input()) 
print(f"n = {n}")
ans = 1 
for i in range(1, n+1, 1):
    print(f"Iteration = {i}:\nBefore Multiplication : ans = {ans}", end = " ")
    ans = ans * i 
    # ans *= i 
    print(f"After Multiplication : ans = {ans}")
    
print(f"Factorial of {n} is {ans}")

n = 6
Iteration = 1:
Before Multiplication : ans = 1 After Multiplication : ans = 1
Iteration = 2:
Before Multiplication : ans = 1 After Multiplication : ans = 2
Iteration = 3:
Before Multiplication : ans = 2 After Multiplication : ans = 6
Iteration = 4:
Before Multiplication : ans = 6 After Multiplication : ans = 24
Iteration = 5:
Before Multiplication : ans = 24 After Multiplication : ans = 120
Iteration = 6:
Before Multiplication : ans = 120 After Multiplication : ans = 720
Factorial of 6 is 720

In [15]:
n = int(input()) 

ans = 1 

for i in range(1, n+1, 1):
    ans *= i 

print(f"Ans = {ans}")

Ans = 120