In [ ]:
import numpy as np 
import pandas as pd

In [ ]:
s = pd.Series([1, 2, 3], index = ['I', 'II', 'III']) 
print(s)

In [ ]:
d = {
    "Country" : ['India', 'Usa', 'Germany', 'Russia'],
    "Capital" : ['New Delhi', 'Washington D.C.', 'Berlin', 'Moscow'], 
    'Currency' : ['INR', 'USD', 'EUR', 'Ruble'], 
    'Development Status' : ['Developing', 'Developed', 'Developed', 'Developed']
}

In [ ]:
d

In [ ]:
df = pd.DataFrame(d)

In [ ]:
df

In [ ]:
df = pd.read_csv("C:\\Users\\Admin\\Desktop\\Python\\dataset.csv")

In [ ]:
df

In [ ]:
#   Subsetting In Pandas (rows) 

df.head(10)

In [ ]:
df.tail(10)

In [ ]:
df.sample(10)

In [ ]:
df.nlargest(10, 'Pregnancies' )

In [ ]:
df.nsmallest(10, "Age")

In [ ]:
type(df['BloodPressure'])

In [ ]:
type(df[['BMI', 'Age', 'Glucose', 'BloodPressure']])

In [ ]:
# Rows and columns

In [ ]:
df

In [ ]:
df.loc[0:4, 'Pregnancies' : 'Insulin']

In [ ]:
df.iloc[0:5, 0:5]

In [66]:
# Data Summerization 

for key, value in df['Pregnancies'].value_counts().items():
    print(f"{key} ==> {value}")

1 ==> 135
0 ==> 111
2 ==> 103
3 ==> 75
4 ==> 68
5 ==> 57
6 ==> 50
7 ==> 45
8 ==> 38
9 ==> 28
10 ==> 24
11 ==> 11
13 ==> 10
12 ==> 9
14 ==> 2
17 ==> 1
15 ==> 1

In [67]:
df['Pregnancies'].unique()

array([ 6,  1,  8,  0,  5,  3, 10,  2,  4,  7,  9, 11, 13, 15, 17, 12, 14])

In [68]:
df['Pregnancies'].nunique()

17

In [ ]:
print(df['Pregnancies'].min()) 
print(df['Pregnancies'].max()) 
print(df['Pregnancies'].mean())
print(df[''])

0
17
3.8450520833333335

In [71]:
import matplotlib.pyplot as plt 
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [1]:
d1 = {
    'X1' : ['A' , 'B' , 'C'], 
    'X2' : [1, 2, 3]
}

d2 = {
    'X1' : ['A', 'B', 'D'], 
    'X3' : [True, False, True] 
}

In [2]:
d1

{'X1': ['A', 'B', 'C'], 'X2': [1, 2, 3]}

In [3]:
d2

{'X1': ['A', 'B', 'D'], 'X3': [True, False, True]}

In [5]:
import numpy as np 
import pandas as pd

In [6]:
d1 = pd.DataFrame(d1) 
d2 = pd.DataFrame(d2)

In [7]:
d1

  X1  X2
0  A   1
1  B   2
2  C   3

In [8]:
d2

  X1     X3
0  A   True
1  B  False
2  D   True

In [9]:
pd.merge(left = d1, right = d2, how = 'left', on = 'X1')

  X1  X2     X3
0  A   1   True
1  B   2  False
2  C   3    NaN

In [10]:
pd.merge(left = d1, right = d2, how = 'right', on = 'X1')

  X1   X2     X3
0  A  1.0   True
1  B  2.0  False
2  D  NaN   True

In [11]:
pd.merge(left = d1, right = d2, how = 'inner', on = 'X1')

  X1  X2     X3
0  A   1   True
1  B   2  False

In [12]:
pd.merge(left = d1, right = d2, how = 'outer', on = 'X1')

  X1   X2     X3
0  A  1.0   True
1  B  2.0  False
2  C  3.0    NaN
3  D  NaN   True