# Variables, Input, Output and Comments

In [54]:
print("Hello World")

Hello World

In [12]:
print('Hello World')

Hello World

In [13]:
print("""Hello World""")

Hello World

In [14]:
print('''Hello World''')

Hello World

I said,"Hello Good Morning."

In [18]:
print('I said,"Hello Good Morning."')

I said,"Hello Good Morning."

In [19]:
print("I said,'Hello Good Morning.'")

I said,'Hello Good Morning.'

In [26]:
print('''Hello 
fhdgg
srgsg
sfgsfg
SgSg
sg
World''')

Hello
fhdgg
srgsg
sfgsfg
SgSg
sg
World

In [29]:
"Om"
18

18

In [30]:
name = "om"
age = 18

In [31]:
print(name)

om

In [32]:
print(age)

18

In [33]:
name = "Rohan"

In [38]:
name = "Om"
age = 30

In [39]:
print("Hello My name is Rohan and my age is 18")

Hello My name is Rohan and my age is 18

In [43]:
print(name, age)

Om 30

In [51]:
name = "Raj"
age = 25
print("Hello My name is",name,"and my age is",age)

Hello My name is Raj and my age is 25

In [55]:
name = "Om"
marks1 = 25
marks2 = 27
marks3 = 29
marks4 = 30

My name is Om and I got 25 in sub1, 27 in sub2, 29 in sub3 and 30 in sub4.

In [56]:
print("My name is", name, "and I got", marks1, "in sub1,", marks2, "in sub2,", marks3, "in sub3 and", marks4, "in sub4.")

My name is Om and I got 25 in sub1, 27 in sub2, 29 in sub3 and 30 in sub4.

In [61]:
#f-string
print(f"My name is {name} and I got {marks1} in sub1, {marks2} in sub2, {marks3} in sub3 and {marks4} in sub4.")

My name is Om and I got 25 in sub1, 27 in sub2, 29 in sub3 and 30 in sub4.

In [62]:
#dot format
print("My name is {} and I got {} in sub1, {} in sub2, {} in sub3 and {} in sub4.".format(name,marks1,marks2,marks3,marks4))

My name is Om and I got 25 in sub1, 27 in sub2, 29 in sub3 and 30 in sub4.

In [59]:
# hastags == Single Line Comments
""" """ == Multi Line Comments

In [64]:
"""sfgsfgsfg"""
print(5+9)
"""sfgsfgsfg"""

14

'sfgsfgsfg'

In [67]:
print("Addition",5+3)
#line2
#line3
#line4
print("Subtraction",5-4)
# line1
# line2
# line3
# line4

Addition 8
Subtraction 1

In [68]:
name = "Om"
marks1 = 25
marks2 = 27
marks3 = 29
marks4 = 30
print(f"My name is {name} and I got {marks1} in sub1, {marks2} in sub2, {marks3} in sub3 and {marks4} in sub4.")

My name is Om and I got 25 in sub1, 27 in sub2, 29 in sub3 and 30 in sub4.

In [69]:
name = "Rohan"
marks1 = 28
marks2 = 50
marks3 = 89
marks4 = 90
print(f"My name is {name} and I got {marks1} in sub1, {marks2} in sub2, {marks3} in sub3 and {marks4} in sub4.")

My name is Rohan and I got 28 in sub1, 50 in sub2, 89 in sub3 and 90 in sub4.

In [81]:
name = input("Enter your name: ")
marks1 = input("Enter marks1: ")
marks2 = input("Enter marks2: ")
age = input("Enter your age: ")
marks3 = input("Enter marks3: ")
marks4 = input("Enter marks4: ")

Enter your name:  Rohan
Enter marks1:  80
Enter marks2:  90
Enter your age:  18
Enter marks3:  70
Enter marks4:  6

In [82]:
print(f"My name is {name} and I got {marks1} in sub1, {marks2} in sub2, {marks3} in sub3 and {marks4} in sub4.")

My name is Rohan and I got 80 in sub1, 90 in sub2, 70 in sub3 and 6 in sub4.

In [ ]:
type()

In [ ]:
1.5,2.7,100.9,-100.5,0.0

In [ ]:
(5,5,9,4,1,1,2)
True
False

1. string
2. integer
3. float
4. complex
5. list
6. tuple
7. boolean
8. dictionary
9. set
10. frozenset
11. None

In [ ]:
{"name":"om","age":18,"marks1":80} #key:value 
#key-value pair => item

In [83]:
{1,2,3,4,5,6,6,89,4,9,45,6,8,4}

{1, 2, 3, 4, 5, 6, 8, 9, 45, 89}

In [84]:
frozenset([1,2,3,4,5,6,1,2,3,4,5])

frozenset({1, 2, 3, 4, 5, 6})

In [85]:
None

In [86]:
name = input("Enter your name: ")

Enter your name:  om

In [87]:
type(name)

str

In [88]:
age = input("Enter your age: ")

Enter your age:  18

In [89]:
type(age)

str

In [90]:
print(age)

18

In [101]:
num1 = int(input("Enter num1: "))
num2 = input("Enter num2: ")
num3 = int(num2)

Enter num1:  10
Enter num2:  5

In [104]:
type(num2)

str

In [106]:
print(num1*num3)

50

In [107]:
# Type Casting/Type Conversion
# 1. Explicit Type Casting
# 2. Implicit Type Casting

In [111]:
num1 = int(input("Enter num1: "))

Enter num1:  10

In [112]:
type(num1)

int

In [113]:
num1 = 10
num2 = 5

In [115]:
type(num1),type(num2)

(int, int)

In [116]:
num3 = num1/num2

In [117]:
type(num3)

float

In [118]:
num3

2.0

# Operators

1. Arithmetic [+,-,*,/,//,%,**]
2. Assignment
3. Relational/Comparison
4. Logical
5. Membership
6. Identity
7. Bitwise

In [119]:
num1 = 10
num2 = 5

In [120]:
num1+num2

15

In [121]:
num1-num2

5

In [122]:
num1*num2

50

In [123]:
num1/num2

2.0

In [128]:
num1//num2 #Floor Division
11//2

5

In [130]:
num1%num2 #Modulus = remainder

11%2

1

In [132]:
5**3 #Exponent / Power /Raise to

125