In [1]:
# Recursion

In [5]:
def fun(n):
    if n == 0:
        return 0 
    if n == 1:
        return 1 
    
    return n + fun(n-1) 

for i in range(0, 11):
    print(f"{i} : {fun(i)}")

0 : 0
1 : 1
2 : 3
3 : 6
4 : 10
5 : 15
6 : 21
7 : 28
8 : 36
9 : 45
10 : 55

In [8]:
def fun(n : int) -> int:
    if n == 0 or n == 1:
        return n 
    
    return n + fun(n-1) 

for i in range(0, 11):
    print(f"{i} : {fun(i)}")

0 : 0
1 : 1
2 : 3
3 : 6
4 : 10
5 : 15
6 : 21
7 : 28
8 : 36
9 : 45
10 : 55

In [10]:
def sum_of_n_natural_number(n : int) -> int:
    # base case 
    if n ==  0 or n == 1:
        return n 
    
    # induction hypothesis 
    small_ans = sum_of_n_natural_number(n-1) 

    # induction step 
    final_ans = small_ans + n 
    return final_ans

for i in range(0, 11):
    print(f"{i} : {sum_of_n_natural_number(i)}")

0 : 0
1 : 1
2 : 3
3 : 6
4 : 10
5 : 15
6 : 21
7 : 28
8 : 36
9 : 45
10 : 55

In [11]:
# Factorial of a number 

def factorial(n : int) -> int:
    # base case 
    if n == 0 or n == 1:
        return 1
    
    # induction hypothesis 
    small_ans = factorial(n-1) 

    # induction step 
    final_ans = small_ans * n 
    return final_ans

for i in range(0, 11):
    print(f"{i} : {factorial(i)}")

0 : 1
1 : 1
2 : 2
3 : 6
4 : 24
5 : 120
6 : 720
7 : 5040
8 : 40320
9 : 362880
10 : 3628800

9455

In [13]:


def print_1_to_n(n):
    if n==0:
     return
    print_1_to_n(n-1)

    print(n)

print_1_to_n(5)

1
2
3
4
5

In [14]:
def factorial(n : int) -> int:
    # base case 
    if n == 0 or n == 1:
        return 1
    # induction  hypothesis 
    ans = factorial(n-1) 
    # induction step 
    return ans * n

In [15]:
for i in range(0, 11):
    print(f"{i} : {factorial(i)}")

0 : 1
1 : 1
2 : 2
3 : 6
4 : 24
5 : 120
6 : 720
7 : 5040
8 : 40320
9 : 362880
10 : 3628800

In [19]:
def n_number(n):

    #base case
    if n==0:
        return 0
    else:
        if n==1:
            return 1
        #induction hyp
        ans=n_number(n-1)
        #induction step
        return ans+n
n_number(5)
n  nb

15

In [22]:
def printTable(n, i):
    if i == 0:
        return 
    
    printTable(n, i-1) 

    print(f"{n} * {i} = {n*i}")

In [24]:
printTable(int(input()),10)

25 * 1 = 25
25 * 2 = 50
25 * 3 = 75
25 * 4 = 100
25 * 5 = 125
25 * 6 = 150
25 * 7 = 175
25 * 8 = 200
25 * 9 = 225
25 * 10 = 250

In [2]:
a = int(input()) 
b = int(input()) 
c = int(input()) 

ans = ((a + b) * c) * (5 / (100 * 2))
print(ans)

8312.5

In [4]:
# ghkvhk

# HI

## HI

### HI

#### HI

##### HI|