In [2]:
s = '' 
print(s, type(s))

 <class 'str'>

In [3]:
s = 'Jack Sparrow' 
print(s, type(s))

Jack Sparrow <class 'str'>

In [4]:
s = input() 

print(s, type(s))

10 <class 'str'>

In [5]:
s = '10'
v = '20'
k = s + v
print(k)

1020

In [6]:
print(s)

10

In [7]:
print(s[0])

1

In [8]:
print(s[-1])

0

In [9]:
print(s[4])

IndexError: string index out of range

In [ ]:
print(s[15])

IndexError: string index out of range

In [ ]:
print(s[-13])

IndexError: string index out of range

In [ ]:
'bc' >= 'bb'

True

In [ ]:
ord('a')

97

In [ ]:
ord('b')

98

In [ ]:
print(s)

Jack Sparrow

In [ ]:
print(s[0:4])
print(s[5:12])
print(s[2:8])

Jack
Sparrow
ck Spa

In [ ]:
print(s[0:4:1])
print(s[0:4:])
print(s[:4:])
print(s[:4]) # aviod : this use both colons

Jack
Jack
Jack
Jack

In [ ]:
print(s[5:len(s):1])
print(s[5:len(s):])
print(s[5::])
print(s[5:])

Sparrow
Sparrow
Sparrow
Sparrow

In [ ]:
print(s[2:8:1])
print(s[2:8])

ck Spa
ck Spa

In [ ]:
print(s[0:len(s):1])
print(s[::])
print(s)

Jack Sparrow
Jack Sparrow
Jack Sparrow

In [ ]:
print(s)  
print(s[::2])
print(s[::3])

Jack Sparrow
Jc pro
Jkpr

In [ ]:
print(s)

Jack Sparrow

In [ ]:
print(s[-12:-8:1])

Jack

In [ ]:
print(s[-9:-13:-1])

kcaJ

In [ ]:
print(s[-1:-8:-1])

worrapS

In [ ]:
print(s[-7:-1:1])
print(s[-1])
print(s[-7:-1:1] + s[-1] + ' ' + s[0])

Sparro
w
Sparrow J

In [ ]:
s[5::] + ' ' + s[:4:]

'Sparrow Jack'

In [ ]:
s[-7:-1:1] + s[0]

'SparroJ'

In [ ]:
s[::-1]

'worrapS kcaJ'

In [ ]:
n1 =  'Jayesh Mangesh Palyekar' 
n2 = 'Raj Omprakash Yadav' 
n3 = 'Suraj Shankar Mirjolkar'

t = (n1, n2, n3) 

li = [] 

for item in t:
    li.append(item.split()) 

for item in li:
    print(f"{item[1]} {item[0]} {item[2]}")

Mangesh Jayesh Palyekar
Omprakash Raj Yadav
Shankar Suraj Mirjolkar

In [ ]:
s = "Jack Sparrow" 
print(s, id(s))

Jack Sparrow 2691775931248

In [ ]:
s[0]

'J'

In [ ]:
s[0] = 'W'

TypeError: 'str' object does not support item assignment

In [ ]:
s = s.replace('J', 'W').replace('k', 'l')

In [ ]:
print(s, id(s))

Wacl Sparrow 2691767881328

In [ ]:
s = "Jack Sparrow" 

print(s)

Jack Sparrow

In [ ]:
new = s.replace("J", "W")

In [ ]:
new

'Wack Sparrow'

In [10]:
s

'10'

In [11]:
s = input()

In [12]:
s

'Jack Sparrow'

In [13]:
s[::-1]

'worrapS kcaJ'

In [20]:
li = [1, 2, 3, 4, 5]

In [22]:
print(li)

[1, 2, 3, 4, 5]

In [24]:
print(' '.join(str(item) for item in li) )

1 2 3 4 5

In [41]:
'-'.join(reversed(s))

'w-o-r-r-a-p-S- -k-c-a-J'

In [30]:
s[::-1]

'worrapS kcaJ'

In [44]:
print(s)

Jack Sparrow

In [45]:
s[0]

'J'

In [46]:
s[0] = 'M'

TypeError: 'str' object does not support item assignment

In [47]:
a = 'Jack' 
b = 'w' 

b + a[1::]

'wack'

In [49]:
a[1::]

'ack'

In [50]:
b

'w'

In [52]:
c = b + a[1::]

In [53]:
print(c, type(c), id(c))

wack <class 'str'> 2568570394816

In [54]:
a

'Jack'

In [55]:
a = c

In [56]:
c

'wack'

In [ ]:
a

'wack'

In [63]:
def greet(name):
    print(f"Thank You So Much {name} for your best wishes") 

li = ['jayesh', 'raj', 'suraj', 'None'] 

for item in li:
    if item == 'raj' or item == 'None':
        continue 
    greet(item)

Thank You So Much jayesh for your best wishes
Thank You So Much suraj for your best wishes

In [66]:
def function(a, b):
    if a + b > 1000:
        return a + b 
    else:
        return a * b 
    
function(10, 1000)

1010

In [68]:
a = "Jack" 
b = "Sparrow" 

print(a + b) 
print(a + " " + b)

JackSparrow
Jack Sparrow

In [71]:
a = "Jack" 
print(a * 5) 
b = "Jack " 
print(b * 5)

JackJackJackJackJack
Jack Jack Jack Jack Jack

In [74]:
print(a + " " + (a[0] * 5))

Jack JJJJJ

In [85]:
a = 'Jack' 
b = 'M' 

print(b + a[1:])

Mack

In [86]:
print(b)

M

In [87]:
b = '''
slkfdj
alsdjflas
lasjdflksdjf
lsjflsjd'''

print(b)

slkfdj
alsdjflas
lasjdflksdjf
lsjflsjd

In [89]:
s = "Jack sparrow" 

for i in range(0, len(s), 1):
    print(f"{i} --> {s[i]}")

0 --> J
1 --> a
2 --> c
3 --> k
4 -->
5 --> s
6 --> p
7 --> a
8 --> r
9 --> r
10 --> o
11 --> w

In [90]:
for i in range(0, len(s), 1):
    print(s[i])

J
a
c
k

s
p
a
r
r
o
w

In [91]:
for i in range(0, len(s), 1):
    print(s[i], end = "")

Jack sparrow

In [94]:
for i in  range(-12, 0, 1):
    print(s[i], end = "")

Jack sparrow

In [95]:
s[-12:0:1]

''

In [100]:
s[-12:0:1]

''

In [103]:
for i in range(-12, 0, 1):
    print(s[i], end = "")

Jack sparrow

In [104]:
s

'Jack sparrow'

In [109]:
for item in s:
    print(item, end = "")

Jack sparrow

In [11]:
s = "Jack Sparrow" 

for i in range(0, len(s), 1):
    print(i, s[i], sep=' - ')

0 - J
1 - a
2 - c
3 - k
4 -
5 - S
6 - p
7 - a
8 - r
9 - r
10 - o
11 - w

In [10]:
print(10, 20, 30, sep = ' | ')

10 | 20 | 30

In [18]:
s = "Jack Sparrow" 

for i in range(0, len(s), 1):
    print(i, end = ' ')

print() 
for i in range(0, len(s), 1):
    print(s[i], end = " ")

0 1 2 3 4 5 6 7 8 9 10 11
J a c k   S p a r r o w

In [19]:
for i in range(0, len(s), 1):
    if s[i] == ' ':
        break 
    else:
        print(s[i],end = "")

Jack

In [20]:
s = "JackSparrow" 

for i in range(0, len(s), 1):
    if i == 4:
        break 
    else:
        print(s[i], end = "")

Jack

In [ ]:
s = "Jack Sparrow" 

for i in range(0, len(s), 3):
    print(s[i], end = "")

Jkpr

In [ ]:
# Item based 

s = "Jack Sparrow" 

for item in s:
    print(item)

J
a
c
k

S
p
a
r
r
o
w

In [30]:
# if char is present in string, then return True, else return False 

def checkCharacter(string : str, char : str) -> bool:
    for item in string:
        print(f"Current Item To Compare : {item}")
        if item == char:
            return True 
        
    else:
        return False

checkCharacter('Jack Sparrow', 'J')

Current Item To Compare : J

True

In [26]:
print(s)

Jack Sparrow

In [42]:
for index, item in enumerate(s):
    print(f"Index : {index }, Data : {item}")

Index : 0, Data : J
Index : 1, Data : a
Index : 2, Data : c
Index : 3, Data : k
Index : 4, Data :
Index : 5, Data : S
Index : 6, Data : p
Index : 7, Data : a
Index : 8, Data : r
Index : 9, Data : r
Index : 10, Data : o
Index : 11, Data : w

In [41]:
for index, item in enumerate(s[::-1]):
    print(f"Index : -{index + 1}, Data : {item}")

Index : -1, Data : w
Index : -2, Data : o
Index : -3, Data : r
Index : -4, Data : r
Index : -5, Data : a
Index : -6, Data : p
Index : -7, Data : S
Index : -8, Data :
Index : -9, Data : k
Index : -10, Data : c
Index : -11, Data : a
Index : -12, Data : J

In [37]:
def checkCharacter(string : str, char : str) -> bool:
    for item in string:
        print(f"Current Item To Compare : {item}")
        if item != char:
            continue 
        else:
            return True
    else:
        return False

checkCharacter('Jack Sparrow', 'S')

Current Item To Compare : J
Current Item To Compare : a
Current Item To Compare : c
Current Item To Compare : k
Current Item To Compare :
Current Item To Compare : S

True

In [48]:
def findIndex(string : str, char : str) -> int:
    for index, item in enumerate(string):
        if item == char:
            return index 
    else:
        return -1 
    
string = "Jack Sparrow" 
char = 'x' 
ans = findIndex(string, char)

if ans == -1:
    print(f'{char} not found in {string}')
else:
    print(f"{char} Found in {string} at index {ans}")

x not found in Jack Sparrow

In [53]:
string = "My Name Is Jack Sparrow" 
char = 'a' 

li = string.split() 

for item in li:
    if char in item:
        print(item)

Name
Jack
Sparrow

In [56]:
s = "a,b,c,d,e" 

s.split(',')

['a', 'b', 'c', 'd', 'e']

In [62]:
string = 'a.b.c.d.e.f.g.h.i.j.k.l.m.n.o.p.q.r.s.t.u.v.w.x.y.z'

print(string.split('.')[:13] )

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm']

In [71]:
email = 'Jayesh@Nettech.com'
email.split('.')[0].split("@")[0]

'Jayesh'

In [87]:
s = 'Jack' 
print(s, type(s), id(s)) 
s = s.replace('J', 'M') 
print(s, type(s), id(s))

Jack <class 'str'> 1586117315968
Mack <class 'str'> 1586115447664

In [90]:
s = 'my name is jayesh palyekar' 

ans = 'My Name Is Jayesh Palyekar' 

print(s.lower()) 
print(s.upper()) 
print(s.capitalize())

my name is jayesh palyekar
MY NAME IS JAYESH PALYEKAR
My name is jayesh palyekar

In [91]:
print(s)

my name is jayesh palyekar

In [92]:
li = s.split()

In [93]:
li

['my', 'name', 'is', 'jayesh', 'palyekar']

In [95]:
string = "my name is jayesh palyekar"

newli = [] 
for item in string.split():
    newli.append(item.capitalize()) 

" ".join(newli)

'My Name Is Jayesh Palyekar'

In [96]:
string.title()

'My Name Is Jayesh Palyekar'

In [16]:
s = "Jack Sparrow" 

print(s.startswith('Jack Sparrow'))
print(s.endswith('Sparrow'))

True
True

In [20]:
print(s.find('J'))
print(s.find('a'))
print(s.find('o'))

0
1
10

In [33]:
s1 = 'abc'
s2 = '123' 
s3 = '!@#'
s4 = 'abc123'
print(f"String = {s1}")
print(f"Alphabets : {s1.isalpha()}")
print(f"Numeric : {s1.isnumeric()}")
print(f"Alpha-Numeric : {s1.isalnum()}")

print(f"\nString = {s2}")
print(f"Alphabets : {s2.isalpha()}")
print(f"Numeric : {s2.isnumeric()}")
print(f"Alpha-Numeric : {s2.isalnum()}")

print(f"\nString = {s3}")
print(f"Alphabets : {s3.isalpha()}")
print(f"Numeric : {s3.isnumeric()}")
print(f"Alpha-Numeric : {s3.isalnum()}")

print(f"\nString = {s4}")
print(f"Alphabets : {s4.isalpha()}")
print(f"Numeric : {s4.isnumeric()}")
print(f"Alpha-Numeric : {s4.isalnum()}")

String = abc
Alphabets : True
Numeric : False
Alpha-Numeric : True

String = 123
Alphabets : False
Numeric : True
Alpha-Numeric : True

String = !@#
Alphabets : False
Numeric : False
Alpha-Numeric : False

String = abc123
Alphabets : False
Numeric : False
Alpha-Numeric : True

In [ ]:
a = input() 
b = input() 

if a.isalpha() == True and b.isnumeric() == True:
    print("Yes can do this")
else:
    print("Can't do that ")

Sabbash

In [41]:
string = 'a1!b2@c3#' 

'''
count  no of alphabets, no of numeric and no of special characters 
'''
alp = 0 
num = 0 
sp = 0 

for char in string:
    # print(char) 
    if char.isalpha():
        alp += 1 
    elif char.isnumeric():
        num += 1 
    else:
        sp += 1 
    
print(f"No of Alphabets : {alp}\nNo of Digist : {num}\nNo of Special Characters : {sp}")

No of Alphabets : 3
No of Digist : 3
No of Special Characters : 3

In [36]:
'1'.isnumeric()

True

In [42]:
from typing import List

In [48]:
def charCount(string : str) -> List[int]:
    alp, dig, sp = 0, 0, 0 

    for item in string:
        if item.isalpha():
            alp += 1 
        elif item.isnumeric():
            dig += 1 
        else:
            sp += 1 
    
    return [alp, dig, sp] 

a = charCount('ABCtdgjrtdj12   3635000(-2)!@# ')
print(a)

[11, 10, 10]

In [ ]:
s = 'Jack Jayesh Suraj Raj vinay' 

for item in s.split(' '):
    if item.startswith("J") or item.endswith('j'):
        print(item)

vinay

In [61]:
for item in s.split():
    if not item.startswith('J') or not item.endswith('j'):
        print(item)

Jack
Jayesh
Suraj
Raj
vinay

In [50]:
s.split()

['Jack', 'Jayesh', 'Suraj', 'Raj']