In [2]:
# Initialization 

string1 = "Jack Sparrow" 
string2 = 'Will Turner' 

print(string1, type(string1), id(string1)) 
print(string2, type(string2), id(string2))

Jack Sparrow <class 'str'> 1981043941680
Will Turner <class 'str'> 1981043940912

In [3]:
name = input("Enter the Name : ") 
print(name, type(name), id(name))

Keira Knightley  <class 'str'> 1981043051568

In [12]:
# Accessing 

# 1. Forward Indexing 
# 2. Negative Indexing 

s = "Jack Sparrow" 

print(s[0])
print(s[4])
print(s[5])
# print(s[12]) : IndexError: string index out of range

print("Negative Indexing")

print(s[-1])
print(s[-8])
print(s[-12])
# print(s[-13]) : IndexError: string index out of range

J

S
Negative Indexing
w

J

In [21]:
# Slicing 

print(s) 

print(s[0:4:1])
print(s[0:4:])
print(s[:4:])
# print(s[4:]) : if we pass just 1 value with single semicolon, then it just consider start and stop and consider the stride to be 1  

print(s[5:len(s):1])
print(s[5::1])
print(s[5:len(s):])
print(s[5::])

Jack Sparrow
Jack
Jack
Jack
Sparrow
Sparrow
Sparrow
Sparrow

In [34]:
print(s[-1:-5:1]) # output will display nothing (since stride is moving in forward direction and we have to move in the opposite direction)

print(s[-1:-5:-1])
print(s[-5:-1:1])
print(s[-12:-8:1])
print(s[-9:-13:-1])

worr
arro
Jack
kcaJ

In [44]:
print(s[0:len(s):2])
print(s[::3])
print(s[::-1]) #  Reversing a string

Jc pro
Jkpr
worrapS kcaJ

In [24]:
print(s[2:10:1])
print(s[2:10:])
print(s[2:10])

ck Sparr
ck Sparr
ck Sparr

In [26]:
print(s[0:4:1])

Jack

In [27]:
print(s[1::])

ack Sparrow

In [48]:
def palindrome(s : str) -> bool:
    s = str(int(s)) 
    rev_s = s[::-1] 

    if s == rev_s:
        return True 
    else:
        return False 
    
palindrome(input("Enter the number to check for palindrome : "))

False

In [51]:
print(s) 
s[0] = 'M'

Jack Sparrow

TypeError: 'str' object does not support item assignment

In [54]:
# concatenation & Repetition 

print(s[-7:-1:1] + s[-1])

Sparrow

In [57]:
a = "Jack" 
b = "Sparrow" 

print(a + b)
print(a + " " + b)

JackSparrow
Jack Sparrow

In [64]:
print(a) 
print(a * 3) 
print(((a + '_') * 3))
print(((a + '_') * 3)[:-1:1])

Jack
JackJackJack
Jack_Jack_Jack_
Jack_Jack_Jack

In [91]:
# Loops 

s = "Jack_S"

# 1. Index based 

for index in range(0, len(s), 1):
    print(f"Index : {index}, Data : {s[index]}")

Index : 0, Data : J
Index : 1, Data : a
Index : 2, Data : c
Index : 3, Data : k
Index : 4, Data : _
Index : 5, Data : S

In [92]:
for i in range(len(s)):
    print(s[i], end = "")

Jack_S

In [93]:
for item in s:
    print(item)

J
a
c
k
_
S

In [94]:
for element in s:
    print(element, end = "")

Jack_S

In [95]:
for index, item in enumerate(s):
    print(f"Index : {index}, Data : {item}")

Index : 0, Data : J
Index : 1, Data : a
Index : 2, Data : c
Index : 3, Data : k
Index : 4, Data : _
Index : 5, Data : S

In [96]:
s = "Jack Sparrow" 

def search_space(s : str):
    li = [] 
    for index, item in enumerate(s):
        if item == ' ': 
            li.append(index)  
        else:
            continue 

    if not li:
        return -1 
    return li  # space not found 

search_space("Jack sparrow")

[4]

In [97]:
s = "Jack Sparrow" 

def search_space(s : str):
    li = [] 
    for index in range(0, len(s), 1):
        if s[index] == ' ': 
            li.append(index)  
        else:
            continue 

    if not li:
        return -1 
    return li  # space not found 

search_space(" J a c k s p a r r o w")

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [1]:
# String Functions

In [14]:
s = "Don't judge the future of a person based on his present conditions, because time has t he power to change black coal to shiny diamond."

In [15]:
li = s.split(' ')

In [16]:
print(li)

["Don't", 'judge', 'the', 'future', 'of', 'a', 'person', 'based', 'on', 'his', 'present', 'conditions,', 'because', 'time', 'has', 't', 'he', 'power', 'to', 'change', 'black', 'coal', 'to', 'shiny', 'diamond.']

In [17]:
s = "Jack Sparrow" 
print(s, type(s), id(s)) 
s = s.replace("Sparrow", "Daniels") 
print(s, type(s), id(s))

Jack Sparrow <class 'str'> 2002863259056
Jack Daniels <class 'str'> 2002863259184

In [35]:
s = "don't judge the future of a person based on his present conditions, because time has t he power to change black coal to shiny diamond."
print(s)

don't judge the future of a person based on his present conditions, because time has t he power to change black coal to shiny diamond.

In [36]:
print(s.startswith("Don't "))
print(s.endswith("d."))

False
True

In [39]:
# Casing 

print(s) 
print(s.lower()) 
print(s.upper())
print(s.capitalize())

don't judge the future of a person based on his present conditions, because time has t he power to change black coal to shiny diamond.
don't judge the future of a person based on his present conditions, because time has t he power to change black coal to shiny diamond.
DON'T JUDGE THE FUTURE OF A PERSON BASED ON HIS PRESENT CONDITIONS, BECAUSE TIME HAS T HE POWER TO CHANGE BLACK COAL TO SHINY DIAMOND.
Don't judge the future of a person based on his present conditions, because time has t he power to change black coal to shiny diamond.

In [38]:
' '.join(word.capitalize() for word in s.split())

"Don't Judge The Future Of A Person Based On His Present Conditions, Because Time Has T He Power To Change Black Coal To Shiny Diamond."

In [40]:
print(s)

don't judge the future of a person based on his present conditions, because time has t he power to change black coal to shiny diamond.

In [41]:
li = s.split()

In [42]:
print(li)

["don't", 'judge', 'the', 'future', 'of', 'a', 'person', 'based', 'on', 'his', 'present', 'conditions,', 'because', 'time', 'has', 't', 'he', 'power', 'to', 'change', 'black', 'coal', 'to', 'shiny', 'diamond.']

In [46]:
' '.join(li)

"don't judge the future of a person based on his present conditions, because time has t he power to change black coal to shiny diamond."

In [52]:
string = 'ABC123!@#'

s1 = 'ABC' 
s2 = '123' 
s3 = '!@#'

print(f"String : {s1}, Alphabets : {s1.isalpha()}, Digits : {s1.isnumeric()}, Alpha-Numeric : {s1.isalnum()}")
print(f"String : {s2}, Alphabets : {s2.isalpha()}, Digits : {s2.isnumeric()}, Alpha-Numeric : {s2.isalnum()}")

print(f"String : {s3}, Alphabets : {s3.isalpha()}, Digits : {s3.isnumeric()}, Alpha-Numeric : {s3.isalnum()}")

String : ABC, Alphabets : True, Digits : False, Alpha-Numeric : True
String : 123, Alphabets : False, Digits : True, Alpha-Numeric : True
String : !@#, Alphabets : False, Digits : False, Alpha-Numeric : False

In [59]:
# A : * , B : _ , C : #

string = 'ABCBAPQR' 

new_str = '' 

for char in string:
    if char == 'A':
        new_str += '*' 
    elif char == 'B' : 
        new_str += '_'
    elif char == 'C':
        new_str += '#'
    else:
        new_str += char
new_str

'*_#_*PQR'

In [62]:
string = 'ABCBAPQR'
string.replace("A", "*").replace("B", '_').replace("C", "#")

'*_#_*PQR'

In [64]:
string = 'ABC123   '
# print(len(string))

alp, digit, sp = 0, 0, 0 

for char in string:
    if char.isalnum():
        if char.isnumeric():
            digit += 1 
        else:
            alp += 1 
    else:
        sp += 1 

print(f"Alphabet : {alp}\nNumber : {digit}\nSpecial : {sp}")

Alphabet : 3
Number : 3
Special : 3

In [67]:
def return_vowel_consonants(string):
    count = 0 
    sp_count = 0 

    for char in string:
        if char.lower() in ('a', 'e', 'i', 'o', 'u'):
            count += 1 
        elif char == ' ':
            sp_count += 1 
        
    return count, len(string) - count - sp_count 


return_vowel_consonants("jAck Sparrow")

(3, 8)