In [9]:
n = int(input())  

ans = 1 

for i in range(1, n+1):
    ans *= i

print(ans)

5040

In [37]:
# Function Declaration & Definition 
def add(a : int, b : int) -> int:
    return a + b 

x = int(input()) 
y = int(input()) 

ans = add(x, y) # Function Call 
print(f"{x} + {y} = {ans}")

10 + 2 = 12

In [40]:
# Creating a Calculator 

def add(a, b):
    return a + b 

def subtract(a, b):
    pass 

def multiplication(a, b):
    pass 

def divide(a : int, b : int) -> float:
    return a / b

In [39]:
divide(10, 2)

5.0

In [31]:
def factorial(n):
    ans = 1 

    for i in range(1, n+1):
        ans = ans * i 
    
    return ans

In [26]:
for i in range(0, 11):
    print(f"{i} : {factorial(i)}")

0 : 1
1 : 1
2 : 2
3 : 6
4 : 24
5 : 120
6 : 720
7 : 5040
8 : 40320
9 : 362880
10 : 3628800

In [29]:
# Combination (factorial(n) / (factorial(r) * factorial(n-r)))
n = 10
r = 5

n_fact = 1 
r_fact = 1 
n_r_fact = 1 

for i in range(1, n+1):
    n_fact *= i 

for i in range(1, r+1):
    r_fact *= i 

for i in range(1, n-r+1):
    n_r_fact *= i 

ans = (n_fact) / (r_fact * n_r_fact) 
print(ans)

252.0

In [36]:
def factorial(n : int) -> int:
    ans = 1 

    for i in range(1, n+1):
        ans = ans * i 
    
    return ans

In [47]:
print(factorial(5))

120

In [35]:
n = 10 
r = 7

print((factorial(n))/(factorial(r) * factorial(n-r)))

120.0

In [64]:
def greet(name  : str) -> None:
    print(f"Good Morning {name}!")

In [65]:
greet("Jack")

Good Morning Jack!

In [66]:
n = 5 

for i in range(n):
    for sp in range(n-i-1):
        print(" ", end = "") 
    for st in range(i+1):
        print("*", end = "") 
    print()

    *
   **
  ***
 ****
*****

In [60]:
def pattern(n : int) -> None:
    for i in range(n):
        for sp in range(n-i-1):
            print(" ", end = "") 
        for st in range(i+1):
            print("*", end = "") 
        for st2 in range(i):
            print("*", end = "") 
        print()

In [67]:
for i in range(3, 6):
    pattern(i)

  *
 ***
*****
   *
  ***
 *****
*******
    *
   ***
  *****
 *******
*********

In [73]:
# Function calling another function 

def combination(a : int, b : int) -> float:
    
    def factorial(n : int) -> int:
        ans = 1 

        for i in range(1, n+1):
            ans = ans * i 
        
        return ans

    return factorial(a) / (factorial(b) * factorial(a-b))

In [74]:
combination(10, 2)

45.0

In [83]:
def fun(a):
    a = a + 2 
    print(f"Local a : {id(a)}") 
    return a 

a = 10 

print(a)
print(f"Global a : {id(a)}")  
a = fun(a) 
print(a)

10
Global a : 140711830416088
Local a : 140711830416152
12

In [87]:
def new(x1):
    x1 = x1 + 2 
    y1 = 10 

x1 = 10 
print(x1) 
new(x1) 
print(y1)

10

NameError: name 'y1' is not defined

In [97]:
global a2 
def new():
    global a2
    a2 += 2 

a2 = 10 
print(a2) 
new() 
print(a2)

10
12

In [98]:
def square(x : int) -> int:
    return x ** 2

In [99]:
print(square(5))

25

In [103]:
# Anonymous Function  (lambda function) 
cube = lambda x : x ** 3

In [104]:
print(cube(5))

125

In [107]:
sqrt = lambda x : int(x ** 0.5)

In [108]:
print(sqrt(25))

5

In [109]:
def add(a, b):
    return a + b 

add(2, 4)

6

In [118]:
def add(a : int, b : int, c = 0, d = 0, e = 0, f = 0) -> int:
    print(f"a = {a}, b = {b}, c = {c}, d = {d}, e = {e}, f = {f}")
    return a + b + c + d

add(1, 2, 3)

a = 1, b = 2, c = 3, d = 0, e = 0, f = 0

6

In [122]:
print("Hello", end = " ") 
print("World")

Hello World

In [123]:
print()